@using BlazorLeaflet.Samples.Data
@implements IDisposable

<button @onclick="ToggleClicked">@ButtonText</button>

@code {
    [Parameter] public string ButtonText { get; set; }
    [Parameter] public DrawHandler DrawHandler { get; set; }
    [Parameter] public EventCallback<bool> OnToggleCallback { get; set; }

    protected override void OnInitialized()
    {
        DrawHandler.DrawFinished += OnDrawFinished;
        base.OnInitialized();
    }

    async Task ToggleClicked()
    {
        await OnToggleCallback.InvokeAsync(true);
    }

    void OnDrawFinished(object sender, EventArgs e)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        DrawHandler.DrawFinished -= OnDrawFinished;
    }
}
