@page "/"

@using System.Drawing
@using BlazorLeaflet.Models
@inject IJSRuntime jsRuntime

<h1>Blazor Leaflet</h1>

<div style="height: 500px; width: 500px;">
    <LeafletMap Map="_map" InitialPosition="_startAt" InitialZoom="4.8f" />
</div>

@code
{

    private Map _map;

    protected override void OnInitialized()
    {
        _map = new Map(jsRuntime);

        _map.Layers.Add(new TileLayer
        {
            UrlTemplate = "https://a.tile.openstreetmap.org/{z}/{x}/{y}.png",
            Attribution = "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors",
        });

        var marker = new Marker(_startAt)
        {
            Draggable = true,
            Title = "Marker 1"
        };
        _map.Layers.Add(marker);
    }

    private PointF _startAt = new PointF(47.5574007f, 16.3918687f);

}