<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorLeaflet.Webassembly.Samples</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-map" aria-hidden="true"></span> Tile Layer
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/marker" Match="NavLinkMatch.All">
                <span class="oi oi-map" aria-hidden="true"></span> Marker Sample
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/circle" Match="NavLinkMatch.All">
                <span class="oi oi-map" aria-hidden="true"></span> Circle Sample
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/rectangle" Match="NavLinkMatch.All">
                <span class="oi oi-map" aria-hidden="true"></span> Rectangle Sample
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/polygon" Match="NavLinkMatch.All">
                <span class="oi oi-map" aria-hidden="true"></span> Polygon Sample
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/polyline" Match="NavLinkMatch.All">
                <span class="oi oi-map" aria-hidden="true"></span> Polyline Sample
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
